@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
    font-family: Helvetica, Futura, Sans-Serif;
    font-weight:200;
    background-color:#66ccff;
}

img {
	width: 100%;
    display:block;
}

body {
    margin: 0;
    border: 0;
}

h1 {
    font-family: Rockwell, "Times New Roman", Serif;
    font-size: 2.3rem;
    font-weight: 200;
    background-color: #ffffff;
    border: solid;
    overflow: hidden;
    padding: 1rem .5rem 2rem 1rem;
}

h2 {
    padding: 1.5rem;
    font-family: Rockwell, "Times New Roman", Serif;
    font-size: 2rem;
    font-weight: 200;
    border-style: groove;
}

article {
    margin: 0;
    padding: 3rem 4%;
    overflow: hidden;
}

p {
    text-align: justify;
    margin: 8px;
    line-height: 1.5;
}

em {
    color: #ffffff;
}

strong {
    font-family: "Bodoni MT", "Big Caslon", Serif
}

.masthead {
    background: #009900;
    overflow: hidden;
    border-bottom: solid;
    border-style: dotted
}

.logo {
    height: 8rem;
    width: auto;
    margin: 4rem 5%;
}

footer {
    background-color: #009900;
    overflow: hidden;
    border-style: dotted;
}

footer p {
    margin: 1rem 4% 5rem;
    padding: 1rem 0 0;
}

footer a {
    color: #ffff33;
}

figcaption {
    font-size: .75rem;
    text-align: center;
}

figure {
    background-color: #009900;
    overflow: hidden;    
}